.demo {
  min-height: 602px;
  background-color: #f2efe6;
  text-align: center;
  &__title {
    padding-top: 114px;
    text-align: center;
  }
  &__subtitle {
    padding-top: 26px;
    text-align: center;
  }
  &__wrapper {
    position: relative;
    min-height: 186px;
    padding-top: 18px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    text-align: center;
    z-index: 3;
  }
  &__estimation {
    padding-top: 13px;
  }
  &__circle {
    padding-top: 19px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  &__button {
    margin: 0 auto;
  }
}
