.employees {
  background-color: #f2efe6;
  &__text {
    margin: 0 auto;
    max-width: 785px;
  }
  &__title {
    padding-top: 114px;
    text-align: center;
  }
  &__subtext {
    padding-top: 27px;
    text-align: center;
  }
  &__img {
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 9%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
